@import url(https://fonts.googleapis.com/css?family=Open+Sans)

body 
{
	font-family: 'Open Sans', sans-serif
}



td,td {
	border: 1px solid;
	text-align: center;
}
.table 
{
	border: 1px solid black;
}
.table-header
{
	background: blanchedalmond;
    font-weight: 600
}
.table-body 
{
	background: lawngreen;
}

#hand-made
{
	display: none;
}

.new-class
{
	margin-bottom: 20px;
}

